// COLORS
$darkColor: #000000;
$whiteColor: #ffffff;
$mainColor: #24a05c;
$mainColorHover: #1d7e48;
$firstColor: #ffffffcb;
$secondColor: #0000009f;
$firstBackgroundColor: #fafafa;
$secondBackgroundColor: #dfdfdf;
$fontColor: #161a1d;
$borderColor: #8f8f8f;
$errorMessage: #ca0000;

// FONT SIZES
$fontXXLarger: 2.5rem;
$fontXLarger: 2rem;
$fontLarger: 1.5rem;
$fontMiddle: 1.125rem;
$fontSmaller: 0.875rem;

// Z-INDEX
$firstZindex: 100;
$secondZindex: 101;
$thirdZindex: 102;
$fourthZindex: 103;
$fifthZindex: 104;
$sixthZindex: 105;
$seventhZindex: 106;
$eighthZindex: 107;
$ninthZindex: 108;
